services:
  keycloak:
    image: quay.io/keycloak/keycloak:latest
    command:
      - start-dev
      - --import-realm
    environment:
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN:-admin}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD:-admin}
      KC_HTTP_ENABLED: 'true'
      KC_HOSTNAME_STRICT: 'false'
      KC_HOSTNAME_STRICT_HTTPS: 'false'
    ports:
      - '8080:8080'
    volumes:
      - ./keycloak/import:/opt/keycloak/data/import
    healthcheck:
      test: ['CMD', 'bash', '-lc', "exec 3<>/dev/tcp/127.0.0.1/8080 && echo -e 'GET /' >&3"]
      interval: 10s
      timeout: 5s
      retries: 10
